here i am.. you still ned to watch out
//<p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://www.flagsonline.it/indonesia" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>